@use '@/assets/scss/mixins' as m;

form {
  max-width: 390px;
  background-color: #f1f2f6;
  border-radius: 8px;
  width: 100%;
  h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    @include m.sm {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

.input-group {
  margin-top: 15px;
  @include m.sm {
    margin-top: 15px;
  }
  input {
    font-size: 14px;
    @include m.sm {
      font-size: 13px;
    }
  }
}

.input-group input, select, textarea {
  border-radius: 6px;
  border: 1px solid #dfe4ea;
  padding: 15px;
  width: 100%;
  @include m.sm {
    padding: 13px;
  }
  //outline: 0;
}

.input-group input:focus {
  //border-color: black;
}
